# Симлинки для локального запуска
/css
/js
/images
/uploads
/about.php
/cart.php
/contact.php
/footer.php
/header.php
/index.php
/login.php
/menu.php
/news.php
/profile.php
/promotions.php
/register.php
